@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400');

a, h1, h2, h3, h4, h5 ,h6{
    color: #F4FEFD;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Display', 'Nanum Gothic Coding', sans-serif;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1B1D24;
    display: flex;
    justify-content: center;
}
#layout{
    width: 1000px;
    height: 100%;
}
#header{
    z-index: 999;
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #1B1D24;
}

.header_li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.header_li:hover{
    cursor: pointer;
    border-bottom: 1px solid #5D9D0B;
}
.header_li:hover h3 {
    color: #5D9D0B;
}
.header_li.active {
    border-bottom-color: #5D9D0B;
  }
  
.header_li.active h3 {
    color: #5D9D0B;
}

.box{
    width: 100%;
}
.tempContent{
    width: 100%;
    height: 600px;
}
.borderBox{
    width: 100%;
    height: 100px;
    box-shadow: 0px 1.5px 1px -1px #F4FEFD;
    margin-left: 50%;
    transform: translateX(-50%)
}
#wrap{
    padding-top: 80px;
}
.title{
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
}
/* 아래서부터 about me */
#AboutMe_box{
    height: 100%;
}

#intro_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#img_box{
    display: flex;
    justify-content: right;
    width: 50%;
}
#intro_img{
    right: 50px;
    width: 250px;
    margin-right: 50px;
    height: 250px;
    background-color: #f4fefd5c;
    border-radius: 5%;
}
#intro_txt{
    width: 50%;
    height: 100%;   
}

/* 아래서부터 Resume */
#Resume_box{
    height: 100%;
}
.Resume_sub_title{
    width: 90%;
    margin-left: 5%;
    font-size: 28px;
    margin-top: 10px;
}
.Resume_content{
    width: 90%;
    height: 100%;
    margin-bottom: 100px;
    margin-left: 5%;
}

@media (max-width: 1000px) {
    #layout{
        width: 768px;
    }
    #header{
        width: 768px;
    }
    .header_li{
        width: calc(768px / 5);
    }
}
@media (max-width: 768px) {
    #header{
        width: 100%;
        height: 50px;
    }
    .header_li h3{
        font-size: 11px;
    }
    .title{
        font-size: 20px;
    }
    #wrap{
        padding-top: 0px;
    }
    .borderBox{
        width: 85%;
        height: 20px;
    }
    #intro_container{
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    #img_box{
        width: 100%;
    }
    #intro_img{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    #intro_txt{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    #intro_txt h2{
        font-size: 16px;
    }
    #intro_txt h3{
        font-size: 11px;
    }
    .Resume_sub_title{
        margin-left: 20px;
        font-size: 16px;
    }
}


